# Copy this file to .env locally. Do not commit real secrets.

YC_CLOUD_ID=<YC_CLOUD_ID>
YC_FOLDER_ID=<FOLDER_ID>
YC_ZONE=ru-central1-b

SERVICE_ACCOUNT_ID=<SERVICE_ACCOUNT_ID>
SUBNET_ID=<SUBNET_ID>
SECURITY_GROUP_ID=<SECURITY_GROUP_ID>

BUCKET_NAME=<BUCKET_NAME>
OBJECT_STORAGE_INPUT_PREFIX=input
OBJECT_STORAGE_OUTPUT_PREFIX=output
OBJECT_STORAGE_JOBS_PREFIX=jobs

YDB_ENDPOINT=<YDB_ENDPOINT>
YDB_DATABASE=<YDB_DATABASE_PATH>
YDB_TABLE_PATH=<YDB_DATABASE_PATH>/transactions_v2
YDB_SERVICE_ACCOUNT_KEY_FILE=<PATH_TO_SERVICE_ACCOUNT_KEY_JSON>

DATAPROC_CLUSTER_NAME=<DATAPROC_CLUSTER_NAME>
AIRFLOW_YANDEX_CONN_ID=yandexcloud_default

KAFKA_CLUSTER_NAME=<KAFKA_CLUSTER_NAME>
KAFKA_BOOTSTRAP_SERVERS=<FQDN_BROKER>:9091
KAFKA_TOPIC=loan_applications
KAFKA_USERNAME=<KAFKA_USERNAME>
KAFKA_PASSWORD=<KAFKA_PASSWORD>
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=SCRAM-SHA-512
KAFKA_TRUSTSTORE_LOCATION=/etc/security/ssl
KAFKA_TRUSTSTORE_PASSWORD=<TRUSTSTORE_PASSWORD>

DATALENS_DASHBOARD_URL=<DATALENS_DASHBOARD_URL>

